
body{
     margin: 2px;
     background-color: gray;
    }

h2{
   /*margin-left: 5px;*/
   margin-bottom: 48px;
   padding-top: 1px;
   /*padding-left: 6%;*/
   background-position: center;
   }

img{
    padding-left: 193px;}

.general{
       margin-top: 15px;
       margin-right: 25%;
       margin-bottom: auto;
       margin-left: 25%;
       background-color: white; 
       width: 50%;
       font-family: Arial;
       box-shadow: 0 0 45px rgba(0,0,0,0.5);
       }

.box1{
      padding-top: 85px;
      padding-left: 2%;
      font-size: 20px;
      margin-top: 20px;
      margin-left: 102px;
      margin-right: 102px;
      padding-bottom: 15px;
      border-bottom: 1px solid black;
    }

.box2{
      padding-top: 10px;
      padding-left: 2%;
      padding-bottom: 16px;
      font-size: 20px;
      margin-left: 102px;
      margin-right: 102px;
      margin-bottom: 20px;
      border-bottom: 1px solid black;
    }

.box3{
      padding-top: 2px;
      padding-left: 2%;
      padding-bottom: 35px;
      font-size: 20px;
      margin-left: 102px;
      margin-right: 102px;
      margin-bottom: 10px;
      border-bottom: 1px solid black
      }

.box4{
      font-size: 20px;
      padding-top: 2px;
      padding-bottom: 24px;
      padding-left: 14%;
      }



